body {
    display: block;
    margin: 8px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

.nav-list {
    float: left;
}

.nav-list .nav-link {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.nav-list .nav-link:hover {
    background-color: #4CAF50;
    color: white;
}

.active {
    background-color: #4CAF50;
}

.active a {
    color: white;
}

#delete-menu {
    margin: 10px;
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

#tasks_list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tasks_list td, #tasks_list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tasks_list td.delete {
    background-color: white;
    border: none;
    padding: 5px;
}

#tasks_list tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tasks_list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.delete {
    display: none;
}

.form {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    margin-top: 10em;
}

h2 {
    font-weight: bold;
}

label {
    display: block;
    text-align: left;
    color: #000000;
    font-size: .875em;
}

.text-input {
    overflow: hidden;
    margin-bottom: .875em;
}

input[type="text"] {
    width: 100%;
    padding: 1em 0 12px;
    padding-left: 0;
    background: none;
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid lightgray;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="submit"] {
    color: white;
    background: #4CAF50;
    padding: 1em 1.4em;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.separator {
    height: 3px;
    width: 100%;
    background: #4CAF50;
    display: block;
    transform: scaleX(0) translateY(-2px);
    transform-origin: 50%;
    opacity: 0;
    transition: all .15s;
}

* :focus {
    outline-color: transparent;
    outline-style: none;
}

